@import url( 'https://fonts.googleapis.com/css?family=Pacifico');
header {
    .phone {
        position: absolute;
        bottom: 0;
    }

    .head {
        position: relative;
        height: 588px;
        background: url("../img/head.jpg");
    }

    .phone-wrapper {
        div:first-child{
          z-index: 2;
        }
        h1 {
            margin-top: 100px;
            font-size: 48px;
            color: #fff;
            font-weight: bold;
        }

        span {
            font-size: 16px;
            color: #dcdcdc;
        }

        p {
            margin-top: 24px;
            font-size: 16px;
            color: #a0a0a0;
        }

        .request-wrapper {
            margin-top: 43px;
            color: #fff;
            text-shadow: 0 1px 0 #000;

            button {
                border-radius: 25px;
                background: linear-gradient(180deg,#439ed5,#378acd);
                border: none;
                padding: 15px 44px;
                box-shadow: inset 0 2px 0 #a0cfea, 0 2px 0 #164667, 0 5px 5px #343f47;
                font-size: 14px;
                font-weight: bold;
            }
            button:hover{
              background: linear-gradient(180deg,#378acd,#227cc4);
            }

            span.or {
                padding: 0 17px;
                font-size: 15px;
            }

            a {
                border-bottom: 1px solid #fff;
                background: url(../img/tv.png)no-repeat 0 center;
                padding-left: 22px;
                color: #fff;
                font-size: 15px;
            }

            a:hover {
                border-bottom: none;
                text-decoration: none;
            }
        }
    }
}

span.header_item {
    font-family: 'Pacifico';
    font-size: 31px;
    color: #fff;
    text-shadow: 0 0 3px #000;
    margin-top: 40px;
    margin-bottom: 5px;

}

ul.header_item {
    margin-top: 47px;
}

.header_item {
    display: inline-block;
}

ul.header_item {
  position: absolute;
  z-index: 999;
  display: none;
    li {
        border-radius: 25px;

        a {
            display: block;
            color: #fff;
            padding: 7px 16px;
            font-size: 1.2em;
            text-transform: capitalize;
        }

        a:hover {
            text-decoration: none;
        }
    }

    li.active,
    li:hover {
        background: linear-gradient(180deg,#333333,#47525c);
        box-shadow: inset 0 1px 2px #000,0px 1px 0 #66727b;
    }
}

.company-wrapper {
    background: linear-gradient(180deg,#f1f1f1,#e7e7e7);
    box-shadow: 0 1px 0 #c3c3c3, 0 -1px #5a5a5a;
    text-align: center;

    img {
      display: inline-block;
        margin: 21px 0 15px;
    }
}

.content-wrapper_1 {
    margin-bottom: 97px;
    text-align: center;
    background: linear-gradient(180deg,#f2f2f2,#fff);

    img {
        margin: 96px 0 30px;
    }

    h2 {
        font-size: 20px;
        color: #4b5a65;
    }

    p {
        font-size: 14px;
        color: #a4a4a4;
    }

    button {
        border: none;
        background: linear-gradient(180deg,#58a0d3,#498cca);
        padding: 12px 24px;
        margin-top: 26px;
        border-radius: 5px;
        color: #fff;
        text-shadow: 0 -1px 3px #000;
        box-shadow: inset 0 2px 0 #abd0e9, 0 2px 0px #3d7aab,inset 0 -2px #609bd0;
    }
    button:hover{
      background: linear-gradient(180deg,#498cca,#2979c3);
    }
}

.projects-wrapper {
    h3 {
        background: url(../img/select.png)no-repeat 0 center;
        padding-left: 32px;
        font-size: 20px;
    }

    ul {
        margin-top: 22px;
        margin-bottom: 115px;
        padding: 0;

        li {
            border: 3px solid #fff;
            box-shadow: 0 0 5px #000;
            list-style-type: none;
        }
    }
}

.feed-wrapper {
    padding-bottom: 60px;

    .news {
        padding: 20px 0 0;

        span {
            color: #b0b0b0;
            font-size: 11px;
        }

        a {
            color: #3c92d0;
        }

        div {
            padding: 0;

            h4 {
                font-size: 15px;
                color: #5c5c5c;
            }

            p {
                color: #888888;
                font-size: 13px;
                margin-bottom: 0;
            }
        }

        img {
            border: 3px solid #fff;
            box-shadow: 0 0 2px #000;
        }
    }

    h3 {
        font-size: 20px;
        padding-left: 30px;
    }

    .row {
        div:first-child {
            h3 {
                background: url(../img/icon_4.png)no-repeat 0 center;
            }
        }

        div:last-child {
            h3 {
                background: url(../img/icon_5.png)no-repeat 0 center;
            }
        }
    }
}

footer {
    .row {
        border-top: 1px solid #e8e8e8;
          span{
            display: block;
            color:#8a8a8a;
            font-size:13px;
            margin-top: 21px;
          }
        ul {
          float: right;
            display: inline-block;
            margin: 0 auto;
            padding: 13px 0 34px 0 ;

            li {
                width: 30.5px;
                height: 30px;
                list-style-type: none;
                display: inline-block;
                float: left;
                margin-right: 10px;

                a {
                    display: block;
                    width: inherit;
                    height: inherit;
                    background: url(../img/social_used.png)no-repeat;
                }
            }
            li:nth-child(1) {
              a{
                    background: url(../img/social_used.png) 0px 0px;
              }
            }
            li:nth-child(2) {
              a{
                    background: url(../img/social_used.png) -41px 0px;
              }
            }
            li:nth-child(3) {
              a{
                    background: url(../img/social_used.png) -81.5px 0px;
              }
            }
            li:nth-child(4) {
              margin: 0;
              a{
                    background: url(../img/social_used.png) -122.5px 0px;
              }
            }
            li:nth-child(1):hover {
              a{
                transition: background 1s ease;
                    background: url(../img/social.png) 0px 0px;
              }
            }
            li:nth-child(2):hover {
              a{
                transition: background 1s ease;
                    background: url(../img/social.png) -41px 0px;
              }
            }
            li:nth-child(3):hover {
              a{
                transition: background 1s ease;
                    background: url(../img/social.png) -81.5px 0px;
              }
            }
            li:nth-child(4):hover {
              a{
                transition: background 1s ease;
                    background: url(../img/social.png) -122.5px 0px;
              }
            }
        }
    }
}
@media screen and (min-width:768px) {
  header{
    .container {
        ul {
          margin-top: 43px;
          float: right;
          z-index: 2;
            li {
              margin-right: 5px;
                float: left;
                display: inline-block;
                a{
                  border-radius: 20px;
                  padding: 6px 18px;
                  color: #fff;
                  text-transform: capitalize;
                  font-weight: 15px;
                  display: block;
                }
                a:hover,a.active{
                box-shadow: 0 2px 0 #66737c, inset 0 2px 0 #272e33;
                background: linear-gradient(180deg,#313a41,#45515a);
                text-decoration:none;
                }

            }
            li:last-child{
              margin:0;
            }
        }
    }
  }
}
@media (max-width:767px) {
  .phone{
    width:312px;
    height: 312px;
  }
footer{
  text-align: center;
  ul{
    display:inline-block;
    float: none !important;
  }
}
header{
  .head{
    .container{
      .phone-wrapper{

        h1{
          margin-top:70px;
          font-size:26px;
        }
        span,p{
          font-size:13px;
        }
      }
      .request-wrapper{
        button, span, a{
          font-size:12px;
        }
      }
    }
  }
}
.request-wrapper{
  span,a{
    display: none;
  }
}
#navBar{
  border: none;
  position: absolute;
  top:88.8px;
  z-index: 3;
  background-color:rgba(76,91,102,0.7);
  box-shadow: none;
  margin: 0;
  padding: 0;
  li{
    text-align: center;
    display: block;
    width: 100%;
    a{
      padding:10px 0;
      width: 100%;
      display: block;
      text-transform: capitalize;
      color:#fff;
      font-size:15px;
      text-decoration: none;
    }
  }
  li:hover{
    transition: background 1s;
    background:rgba(87,160,214,1) ;
    text-shadow: 0 1px 1px #000;
  }
}
}
#cross{
  position: absolute;
  right: 25px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  bottom: 10px;
  margin:0;
  padding: 0;
  span{
    position: absolute;
    display:inline-block;
    width: 100%;
    height: 3px;
    background: #fff;
  }
  span:first-child{
    top:25%;
    transform: translateY(-25%);
  }
  span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
  }
  span:nth-child(3){
    top:75%;
    transform: translateY(-75%);
  }
}
@media (min-width:1300px) {

    .slide-wrapper{
      position: relative;
      .right_arrow,.left_arrow{
        cursor: pointer;
        top:50%;
        z-index: 2;
        transform: translateY(-50%);
        position: absolute;
        height: 38px;
        width: 38px;
        box-shadow: 0 0 5px #000;
        border-radius: 50%;
      }
      .right_arrow{
        left:-69px;
        background: url(../img/left.png);
      }
      .left_arrow{
        right:-69px;
        background: url(../img/right.png);
      }
    }
}
